node_modules

# Nuxt build output
.nuxt
.output
dist

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*
.env.example
# Editor & OS junk
.DS_Store
Thumbs.db
*.swp
*.swo

# Coverage / tests
coverage
.nyc_output

# Local tooling
.vscode
.idea
.turbo
*.local
